/*
@font-face {
	font-family: "HP";
	src: url("/fonts/harryP.ttfF") format("truetype");
}
*/
body {
	margin: 0;
	background-color: black;
	font-family: "URW Chancery L", cursive;
/*	font-family: "HP";	*/
}
#home1 {
	margin: 0;
	background-image: url(chateau-poudlard.jpg);	
	background-repeat: no-repeat;
	background-size: cover;	
	filter: grayscale(100%);
	height: 1100px;
	width: 1920px;
	position: fixed;
	top: 0;
	background-position: bottom;
}
#home1:hover {
	filter: grayscale(0);
}
a {
	text-decoration: none;
	color: white;
}

header {
/*	margin: 0;	*/
	padding: 0;
	letter-spacing: .5em;
}
#home:hover {
	filter: grayscale(0);
}
.titre1, #entree {
	filter: grayscale(0%);
	color: white;
	text-align: center;
	position: relative;
}
h1.titre1 {
	font-size: 10em; 
	font-weight: bold;
	top:20px;
	margin-bottom: 10px;
	letter-spacing: .8em;
	text-shadow: -3px 3px 10px #ff9027;
}
h2.titre1 {
	font-size: 5em; 
	top:30px;
	text-shadow: -3px 3px 10px #ff9027;
}

#entree {
	text-decoration: none;
	color: #060a25;
	background-color: grey;
	border-radius: 15px;
	box-shadow: -1px 1px 3px white;
	width: 250px;
	height: 35px;
	display: block;
	margin: 200px auto 0 auto;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	padding: 15px;
	text-shadow: -1px 1px 3px #ff9027;
}
#entree:hover {
	color: #ff9027;
	background-color: silver;
	box-shadow: -1px 1px 3px #ff9027;
}

.audio {
	margin-left: 100px;
	letter-spacing: 0;
	width: 300px;
	height: 40px;

}

/********* salleBanquets.html ********************/
#home2 {
	background-image: url(Grande_Salle.jpg);	
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	color: white;
	height: 1700px;
	background-size: cover;
	filter: grayscale(100%);
	position: absolute;
	top: 0;
}
#home2:hover {
	filter: grayscale(0);

}
#home2 {
	
}
#header2 .titre2 {
	text-align: center;
}
h1.titre2 {
	margin-top: 200px;
	font-size: 5em;
	letter-spacing: .5em;
	text-shadow: -2px 2px 3px #ff9027;
}
h2.titre2 {
	font-size: 3em;
	margin-top: 50px;
	text-shadow: -2px 2px 3px #ff9027;
}

#video2 {
	margin: 10px auto;
	width: 720px;
}
.video2 span {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: .6em;	
}
figcaption.video2 {
	letter-spacing: .1em;

}


/************ grid-container ****************/
.grid-container {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	padding: 10px;
	grid-column-gap: 10px;
	grid-row-gap: 50px;
}

.grid-item {
	padding: 20px;
	font-size: 30px;
	text-align: center;
/*	border: 1px white solid;	*/
}
.item2 {
	grid-column-start: 2;
	grid-column-end: 4;
}

#gridItem31 {

}

a.liens2 {
	display: block;
	margin: auto;
/*	border: #ff9027 1px solid;	*/
	line-height: 650%;
}
#gridItem31:hover, #gridItem32:hover {
	text-shadow: -2px 2px 3px #ff9027;
	font-weight: bold;
}

.emblemes {
	filter: grayscale(100);
}
.emblemes img {
	width: 70%;
	height: 70%;
}
.emblemes:hover {
	filter: grayscale(0);
}






	/*	grid-column: 2 / 4;	shorthand 
or grid-column: 2 / span 2;
Idem pour grid-row: 
grid-area Example :
Make "item8" start on row-line 1 and column-line 2, and end on row-line 5 and column line 6:
.item8 {
	grid-area: 1 / 2 / 5 / 6;
	ou grid-area: 2 / 1 / span 2 / span 3;
}
nommer zones : https://www.w3schools.com/css/css_grid_item.asp
*/




/*
header a {
	display: block;
	width: 100%;
	height: 956px;
	margin-top: 0;
	position: relative;
	top: 0;
}
*/
/*
#mainMenu {
	border: 1px black solid;
	margin-top: 0;
	height: 100px;
}
#mainMenu menuitem {
	display: inline-block;
}

#imgBann {
	margin: 0 auto;
/* 	background-color: #ff9027; */
/*
}
figure {
	display: inline-block;
	width: 24%;
	margin: 0;
	vertical-align: middle;
}

img {
	margin: 0 auto;
	padding: 0;
 	height: 100px;
	max-width: 100%;
	display: block;
}
*/
/*
#formEntree {
	font-size: 3em;
	margin-top: 80px;
	top: 100px;
}
h4.titre1 {
	font-size: 2em;
	top: 50px;
	margin-left: 1600px;
	margin-right: 20px;
}
#motDePasse {
	width: 400px;
	vertical-align: middle;
	border-radius: 5px;
}
#entrer {
	font-size: 0.8em;
	border-radius: 15px;
	padding: 10px;
	vertical-align: middle;
	top: 30px;
	position: relative;
	font-weight: bold;
}
header:hover #entrer {
	border-radius: 15px;
}
*/
 /* Tooltip container 
 .tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  /*}
  
  /* Tooltip text 
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	border-radius: 10px;
  
	/* Position the tooltip text 
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Fade in tooltip 
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  /* Tooltip arrow 
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container 
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  } 
  */
