/*
@font-face {
	font-family: "HP";
	src: url("/fonts/harryP.ttfF") format("truetype");
}
*/
/********* general **************/

:root {
    --orange: #ff9027;
	--blanc: #FCFEFC;
/*	--jauneHuff:
	--vertSlyth:
	--bleuRavenc:
	--rougeGriffind:
}
*/
}
body {
	margin: 0;
	background-color: black;
	font-family: "URW Chancery L", cursive;
	color: white;
/*	font-family: "HP";	*/
}
a {
	text-decoration: none;
	color: white;
	font-weight: bold;;
}
a:hover {
	text-shadow: -2px 2px 3px var(--orange);
	font-weight: bold;
}

/*************** #lang *******************/

.lang {
	width: 150px;
	position: absolute;
	top: 20px;
	right: 20px;
}



/*************** index *******************/

.home {
	width: 100%;
	display: block;
	filter: grayscale(100%);
    margin: 0;
	background-repeat: no-repeat;
	background-size: cover;	
	min-height: 1100px;	
	background-position: top;	
}
.home:hover {
	filter: grayscale(0);
}

header {
	padding: 0;
	letter-spacing: .5em;
}
.titre1, #entree {
	text-align: center;
	position: relative;
}
h1.titre1 {
	font-size: 10em; 
	font-weight: bold;
	top:20px;
	margin-bottom: 10px;
	letter-spacing: .8em;
	text-shadow: -3px 3px 10px var(--orange);
}
h2.titre1 {
	font-size: 5em; 
	top:30px;
	text-shadow: -3px 3px 10px var(--orange);
}
.titre1:hover {
    filter: grayscale(0%);
}


/***************** #homeIndex ****************/

#homeIndex {
    background-image: url(./IMG/chateau-poudlard.jpg);
	position: absolute;
	top: 0;
}

.titre1, #entree {
/*	filter: grayscale(0%);  */
/*	color: white;   */
    text-align: center;
    position: relative;
}
h1.titre1 {
    font-size: 10em; 
    font-weight: bold;
    top:20px;
    margin-bottom: 10px;
    letter-spacing: .8em;
    text-shadow: -3px 3px 10px #ff9027;
}
h2.titre1 {
    font-size: 5em; 
    top:30px;
    text-shadow: -3px 3px 10px #ff9027;
}
.titre1:hover {
    filter: grayscale(0%);
}

#entree {
/*	text-decoration: none;  */
    color: #060a25;
    background-color: grey;
    border-radius: 15px;
    box-shadow: -1px 1px 3px white;
    width: 250px;
    height: 35px;
    display: block;
    margin: 100px auto 0 auto;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px;
    text-shadow: -1px 1px 3px #ff9027;
    filter: grayscale(100%);
}
#entree:hover {
/*	color: #ff9027; */
    background-color: silver;
    box-shadow: -1px 1px 3px #ff9027;
    filter: grayscale(0%);
}

.audio {
    margin-left: 100px;
    letter-spacing: 0;
    width: 300px;
    height: 40px;
}

/****** animation chauve-souris *******************/

div#animP1 {
	height: 50px;
}
div#animP1 img {
	width: 5%;
	display: block;
	margin-left: -100px;

	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 7s;
	animation-delay: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
/*	animation-timing-function: steps(2);	*/
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
	from {margin-left: -100px;width: 5%;}
	to {margin-left: 1540px;width: 1%;}
  }
  
  /* Standard syntax */
  @keyframes example {
	from {margin-left: -100px;width: 5%;}
	to {margin-left: 1540px;width: 0%;}
  }
/********** fin anim chauve-souris ********************/


/********** pages2 et autres épisodes ******************/


h1.titre {
	margin-top: 200px;
	font-size: 5em;
	letter-spacing: .5em;
	text-shadow: -2px 2px 3px #ff9027;
}
h2.titre {
	font-size: 3em;
	margin-top: 200px;
	margin-bottom: 250px;
	text-shadow: -2px 2px 3px #ff9027;
}
h1, h2 {
	text-align: center;
}

/********* salleBanquets.html ********************/

#home1 {
	min-height: 1700px;
	background-image: url(./IMG/Grande_Salle.png);	
	background-repeat: no-repeat;
	background-position-y: 0px;
	background-size: auto;
}


#videoEp {
	margin: 10px auto;
	width: 720px;
}
.videoEp span {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: .6em;	
}
figcaption {
	letter-spacing: .1em;
	margin-bottom: 100px;
}
figcaption span {
	text-decoration: underline;
}



/************ grid-container general ****************/
.grid-container {
	display: grid;
	width: 95%;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: 500px 400px;
	margin: 0 auto;
}
.grid-itemEp {
	padding: 20px;
	font-size: 30px;
	text-align: center;
/*	border: 1px white solid;	*/
}

.grid-container-emblemes {
	display: grid;
	width: 95%;
	grid-template-columns: 24.98% 24.98% 24.98% 24.98%;
	grid-template-rows: 600px;
	margin: 0 auto;
}
.grid-item-emblemes {
	padding: 20px;
	font-size: 30px;
	text-align: center;
/*	border: 1px white solid;	*/
}
/*
.grid-item-emblemes img {

}	*/

/******************** grid-container home2 **************/

#homeEp #gridItem2 {
	grid-column-start: 3/span 2;
/*	grid-column-end: 6;	*/
}

#homeEp #gridItem31 {

}
#gridItem1 a {
	margin: 0 auto;
	display: block;
	height: 100px;
	margin-top: 200px;
	line-height: 50px;
}

a.liensEp {
	display: block;
	margin: auto;
/*	border: #ff9027 1px solid;	*/
	height: 50px;
	margin-top: 150px;
}

.emblemes {
	filter: grayscale(100);
}
.emblemes img {
	width: 70%;
	height: 70%;
}
.emblemes:hover {
	filter: grayscale(0);
}


/************* page secrets *********************/

body#secrets {
	background-image: url("IMG/porteChambreSecrets-1920px.jpg");	
	background-repeat: no-repeat;	
}






